<h1> All the sneakers! </h1>

<% @sneakers.each do |sneaker| %>

    <h3> <%= sneaker.brand.name%> <%= sneaker.model %> (<%= sneaker.colorway %>)</h3>

    <%= link_to "Write a review", new_sneaker_review_path(sneaker.id)%>

<% end %>